.annual-plan
    display: grid
    grid-template-columns: 1fr 2fr 1fr
    justify-items: center
    align-items: center
    margin: 0 20px 20px  
    padding: 8px  
    background-color: desaturate(Pale-blue, 90%)
    border-radius: 12px              
    .plan
        h2 
            font-size: 14px
        
        span 
            font-size: 14px
            color: Desaturated-blue                     
    a 
        font-size: 14px
        &:hover
            text-decoration: none
            color: Desaturated-blue
    
       
    
    