.card    
    width: 280px
    height: 500px
    background-color: Very-pale-blue
    border-radius: 20px
    display: flex
    flex-direction: column  
    box-shadow: 0px 30px 30px -30px Desaturated-blue    
    @media screen and (min-width: 375px)
        width: 320px

    
