button 
    width: 240px
    height: 36px
    place-self: center
    margin-bottom: 12px
    border-radius: 8px
    border: none
.proceed-payment
    background-color: Bright-blue
    color: Very-pale-blue
    font-weight: 700
    &:hover
        background-color: Desaturated-blue
        cursor: pointer
.cancel
    background-color: Very-pale-blue
    color: Desaturated-blue
    font-weight: 700
    &:hover        
        cursor: pointer
        color: black
